/* .footer a{
    display: inline-block;
    margin: 10px;
    justify-content: space-around;

} */

.footer {
    margin-top: 60px;
    position: sticky;
    width: 100%;
    padding: 10px; 
    text-align: center; 
    z-index: 1;
}

.footer a {
    display: inline-block;
    margin: 10px;
    color: #ffffff; 
    text-decoration: none;
}
