.profileContainer{
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pictureContainer{
    display: flex;
    align-items: center;
}

.basicUserInfo{
    
}

.profile-picture img{
    margin-right: 20px;
}

.leaderboardCategory{
    display: flex;
    justify-content:space-between;
    margin-top: 40px;
}

.leaderboardDisplay, .categoryDisplay{
    background-color: #646cffc0;
    box-shadow: 0 0 10px rgb(255, 255, 255); /* Subtle box shadow */
    border-radius: 10px;
    padding: 20px;
}