.profileContainer {
    /* width: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.pictureContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 40px;
}

.userDetails button{
    width: 200px;
    position: relative;
}

.profile-picture img {
    margin-right: 20px;
    
    height: 200px;
    border-radius: 50%;
}

.profile-picture button{
    width: 200px
}

.profile-picture-list{
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr)); 
    gap: 20px; 
    background-color: #646cffc0;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 20px; 
    border-radius: 10px;
    margin: 20px;

}

.profile-picture-list img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10px; }

.popup-menu button{
    width: 200px
}

.logoutContainer{
    position: absolute;
    top: 0;
    left: 0;
}

.logoutContainer button{
    border-radius: 10px;
    margin: 20px;
    background-color: #7178ff;
    color: black;
    width: 100px;
}


.gameResults{
    box-shadow: 0 0 10px rgb(255, 255, 255);
    padding: 20px; 
    border-radius: 10px;
    width: 300px;
    margin: 20px;
}

.gameResults button{
    width: 150px;
}

.gameResults a:hover{
    color: #c3c6ffc0;
  }

.categoryDisplay button{
    width: 150px;
}

.categoryDisplay .clearGamesButton{
    width: 300px;
}

.categoryDisplay a:hover{
    color: black;
}

.leaderboardCategory {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 20px; 
    width: 100%; 
    margin-top: 40px;
}

.leaderboardDisplay, .categoryDisplay {
    background-color: #646cffc0;
    box-shadow: 0 0 10px rgb(255, 255, 255); 
    border-radius: 10px;
    padding: 20px;
    flex: 1; 
}
