.directions {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .directionsButton{
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    margin: 10px;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #7178ff;
  }
  
  .directionsTooltip {
    display: none;
    position: absolute;
    top: 100%;
    margin: 15px;
    color: white;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 200px;
  }
  
  .directions:hover .directionsTooltip {
    display: block;
  }